ion-toolbar {
  --background: #621647;
    --color: #fff;
  }
  ion-title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
  }
  
  ion-menu-button,
  ion-back-button {
    color: #fff;
  }
  
  ion-header.header-bg {
    background: #621647;
  }
  
  .header-logo{
    font-size: 22px;
      font-weight: 700;
      color: #fff;
      font-family: "Baloo Tamma 2", 'Roboto Slab';    
      width: 205px;
      margin: 0 auto;
      line-height: 45px;
      padding-left: 35px;

      background-size: 20%;
  }
  
  ion-content {
    position: relative;
    // --background: rgb(113,51,153);
    // --background: linear-gradient(90deg, rgba(113,51,153,1) 0%, rgba(156,83,204,1) 100%);
    --background: #fff;
    // --background: linear-gradient(315deg, #1fd1f9 0%, #42378f 100%);
    --offset-top: 56px !important;
  }
  
  .wave-style {
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 0.25;
    opacity: 0.15;
    top: 50px;
  }
  
  .flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height: 225px;
      min-height: 225px;
    }
  }
  
  .profile-block {
    height: 180px;
    text-align: center;
    display: block;
    position: relative;
    z-index: 2;
  }
  
  
  
  ion-item {
    --background: transparent;
    border-bottom-color: #d2d4cb;
    --inner-box-shadow: none;
    margin-bottom: 30px;
  }
  
  .profile-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin:-10px auto 4px;
    position: relative;
    overflow: hidden;
    background: url(../../assets/images/user-icon.png) no-repeat center #fff;
    background-size: 100%;
  }
  
  .profile-details {
    display: block;
  }
  
  .profile-block h2 {
    font-size: 24px;
    font-family: "Baloo Tamma 2", "Roboto Slab";
    margin: 0 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
  }
  .profile-block h5 {
    line-height: 25px;
      font-size: 17px;
      font-family: "Baloo Tamma 2", "Roboto Slab";
      margin: 0;
      /* height: 30px; */
      color: #fff;
  }
  

  
  ion-item{
      --background: transparent;
      border-bottom-color: #d2d4cb;
      --inner-box-shadow:none;
      margin-bottom: 30px;
  }
  
  
  .profile-details{
      display: block;
  }


ion-item {
    --background: transparent;
    border-bottom-color: #d2d4cb;
    --inner-box-shadow: none;
    margin-bottom: 30px;
}


ion-menu-button {
    color: #fff;
}

.dashboard-content {
    position: relative;
    padding: 15px 15px 30px;
    margin: 0 auto;
    font-family: "Roboto Slab", serif;
    z-index: 1;
    background: #fff;
}



.dashboard-content h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px 0;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
}

.subject-heading {
    font-family: "Galada", cursive;
    font-size: 18px;
}

.subject-heading.english-heading {
  font-family: "Baloo Tamma 2", "Roboto Slab";
  font-weight: 700;
  font-size: 22px;
}
.subject-card {
    color: #fff;
    border-radius: 4px;
    padding: 0px;
    font-family: "Galada", cursive;
    text-align: left;
    position: relative;
    margin: 0;
    border: 1px solid rgb(98, 22, 71);
    border-bottom: 3px solid #621647;
}



.english-card{
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 700;
    font-style: italic;
}

.sub-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}

ion-card-content {
    font-size: 18px;
    padding: 0;
}

.subject-img {
    min-height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.chapter-num{
    color: #69204f;
    font-size: 22px;
    font-family: "Baloo Tamma 2", "Roboto Slab";
    -webkit-box-pack: left;
    justify-content: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 600;
    margin: 12px 0;
}

.chapter-num span{
  position: absolute;
    z-index: 99;
    color: #fff;
    left:10px;
}

.chapter-num:before{
content: "";
position: absolute;
background: #621647;
width: 150px;
height: 137px;
left: -25px;
-webkit-clip-path: polygon(100% 0%, 0 100%, 100% 100%, 100% 100%);
clip-path: polygon(100% 0%, 0 100%, 100% 100%, 100% 100%);
-webkit-transform: rotate(-210deg);
transform: rotate(-210deg);
}
.chapter-label{
    color: #6f6f6f;
    font-size: 15px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    padding: 0 5px;
    justify-content: left;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.free-label{
  color: #fff;
  font-size: 15px;
  font-family: "Baloo Tamma 2", 'Roboto Slab';
  padding: 0 5px;
}

.subject-name {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: left;
  justify-content: left;
  min-height: 65px;
  line-height: 18px;
  color: #484848;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  position: relative;
    
}

.tag {
  display: inline-block;
  width: auto;
  height: 25px;
  background-color: #d20426;
  border-radius: 5px;
  border-left: 1px solid #d20426;
  margin-left: 19px;
  position: absolute;
  color: white;
  font-weight: 300;
  font-family: "Baloo Tamma 2", "Roboto Slab";
  font-size: 15px;
  line-height: 28px;
  padding: 0 8px 0 3px;
  right: -4px;
  bottom: 12px;
  font-style: italic;
  font-weight: 500;
  // box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06)!important;
}

/* Makes the triangle */
.tag:before {
  content: "";
  position: absolute;
  display: none;
  left: -14px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 14px solid #d20426
}

/* Makes the circle */
.tag:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: none;
  position: absolute;
  left: -4px;
  top: 9px;
}


.english-card .subject-name{
    font-style: normal;
}
.login-btn {
    --background: #32db64;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    --color: #fff;
    margin: 0 auto;
    height: 45px;
}

.signup-btn {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    --color: #fff;
    margin: 0 auto 10px;
    height: 45px;
}

.ribbon4 {
  position: absolute;
    right: 7px;
    color: #fff;
    bottom: 14px;
    padding: 2px 5px 0;
    background: #de0b0b;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 600;
    font-family: "Baloo Tamma 2", "Roboto Slab";
    font-size: 15px;
    line-height: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-width: 48px;
    text-align: center;
}
.ribbon4:before, .ribbon4:after {
  content: "";
  position: absolute;
}
.ribbon4:before {
  width: 7px;
    height: 100%;
    top: 0;
    right: -6.5px;
    padding: 0 0 7px;
    background: inherit;
    border-radius: 0 5px 5px 0;
}
.ribbon4:after {
  width: 5px;
  height: 5px;
  bottom: -5px;
  right: -4.5px;
  background: #8e0505;
  border-radius: 5px 0 0 5px;
 }

//  .ribbon4.lang-beng{
//    font-size: 13px;
//    padding: 5px 5px 0;
//  }