<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="otp-form ion-text-center">
    <h3 class="lang-{{defaultLanguage}}">
      {{isOpenEmail?messsageObj?.otpPage?.pageTitle[defaultLanguage]:messsageObj?.otpPage?.pageTitle1[defaultLanguage]}}
    </h3>
    <p *ngIf="!isOpenEmail" class="lang-{{defaultLanguage}}"> {{messsageObj?.otpPage?.enterOTP[defaultLanguage] }}</p>
    <form *ngIf="!isOpenEmail" (ngSubmit)="otpSubmit()" [formGroup]="optForm">


      <ng-otp-input (onInputChange)="onOtpChange($event)" #ngOtpInput
        [config]="{length:6, inputClass:'otp-input',allowNumbersOnly:true}">
      </ng-otp-input>


      <ion-button [disabled]="disableSubmit" shape="round" class="otp-btn lang-{{defaultLanguage}}" type="submit">
        {{messsageObj?.otpPage?.submitMessage[defaultLanguage] }}
      </ion-button>

    </form>

    <form *ngIf="isOpenEmail" (ngSubmit)="emailSubmit(emailForm.value)" [formGroup]="emailForm">
      <ion-list>
        <!-- <ion-item>
          <ion-input placeholder="Email Id" clearInput type="text" name="email" formControlName="email"></ion-input>
        </ion-item>
        <span class="valid-message"
          *ngIf="emailForm.controls.email.hasError('required') && emailForm.controls.email.touched">* Email id is
          required
        </span>
        <span class="valid-message"
          *ngIf="emailForm.controls.email.hasError('pattern') && emailForm.controls.email.touched">Please enter
          valid email</span> -->
        <ion-item class="position-relative mobile-num">
          <ion-label class="input-label mobile-label lang-{{defaultLanguage}}" position="floating">
            {{messsageObj?.otpPage?.mobileNumber[defaultLanguage] }}</ion-label>
          <div class="flag-code"><span></span> +91</div>
          <ion-icon name="call" slot="end"></ion-icon>
          <ion-input clearInput type="number" name="mobile" formControlName="mobile">
          </ion-input>
        </ion-item>

        <div class="valid-message">
          <div *ngIf="submitted && f.mobile.errors">
            <div *ngIf="f.mobile.errors.required" class="lang-{{defaultLanguage}}">
              {{messsageObj?.otpPage?.enterMobile[defaultLanguage] }}</div>
            <div *ngIf="f.mobile.errors.pattern" class="lang-{{defaultLanguage}}">
              {{messsageObj?.otpPage?.validMobile[defaultLanguage] }}</div>
          </div>
        </div>





        <ion-button [disabled]="!emailForm.valid" shape="round" expand="full" class="otp-btn lang-{{defaultLanguage}}"
          type="submit">
          {{messsageObj?.otpPage?.sendMessage[defaultLanguage] }}
        </ion-button>
      </ion-list>
    </form>
  </div>
  <div class="content-area ion-text-center" *ngIf="!isOpenEmail">
    <div class="label-text lang-{{defaultLanguage}}">{{messsageObj?.otpPage?.notReceivedOTP[defaultLanguage] }} <span
        (click)="openEmail()" class="lang-{{defaultLanguage}}">{{messsageObj?.otpPage?.sendNewOTP[defaultLanguage]
        }}</span> </div>
  </div>

</ion-content>



<!-- <ion-button color="primary" (click)="getHashCode()" size="small">Get App Hash</ion-button>
<ion-button color="secondary" (click)="getSMS()" size="small">Start Watching SMS</ion-button> -->


<div class="confirm-box" *ngIf="emailSentModal">
  <span><i class="fas fa-check"></i></span>
  <h4>OTP Sent Successfully</h4>
  <p>Check your mail for OTP. </p>
</div>