
.signup-btn{
    --background: #6f0f4d;
    --background: linear-gradient(90deg, #6d0d4b 0%, rgb(142, 51, 109) 100%);
    --color: #fff;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 13px;
    width: 40%;
    margin: 15px auto 10px;
}

ion-button.lang-beng{
    font-family: "Galada", cursive;
    font-weight: 500;
    font-size: 16px;
  }

 