ion-toolbar{
    --background: #621647;
    // --background: linear-gradient(315deg, #0aa6ca 0%, #42378f 100%);
    --color:#fff;
}

ion-title{
    font-size: 18px;
    font-family: 'Baloo Tamma 2', cursive;
    margin-left: -30px;
  }

  .item .sc-ion-label-md-h{
    font-size: 16px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 500;
    color: #868686;
}

.signup-form{
    background: #fff;
    padding: 25px 20px 20px;
    margin: 0 auto; 
    min-height: 500px;
}

ion-label.input-label.lang-beng{
    font-family: "Galada", cursive !important;
    font-weight: 500;
  }

  ion-button.lang-beng{
    font-family: "Galada", cursive;
    font-weight: 500;
    font-size: 16px;
  }

h4{
    color: #363636;
    font-family: "Baloo Tamma 2", "Roboto Slab";
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
    margin: 0;
}

.signup-btn{
    --background: #6f0f4d;
    --background: linear-gradient(90deg, #6d0d4b 0%, rgb(142, 51, 109) 100%);
    --color: #fff;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 13px;
    width: 40%;
    margin: 10px auto;
}
.label-text{
    font-size: 16px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 400;
    color: #868686;
    margin-top: 5px;
}

.label-text span{
    color: #791a57;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}

.warning span{ 
    display: flex;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid #fff;
    align-items: center;
    justify-content: center;
}

.warning i{
    color: #ffbe05;
    font-size: 35px;
    margin-top: -7px;
}

.position-relative{
    position: relative;
}

ion-item{
    --padding-start: 5px;
    --border-color: #b32781;
    --border-width: 0px 0px 1px 0px
}

 ion-input{
    font-size: 16px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 600;
    color: #6b6b6b;
    --padding-top: 0!important;
    --padding-bottom: 3px!important;
    --padding-start: 0!important;  
 }
 ion-textarea{
    font-size: 16px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 600;
    color: #6b6b6b;
    --padding-top: 0!important;
    --padding-bottom: 3px!important;
    --padding-start: 0!important;  
 }

 .native-input.sc-ion-input-md{
     padding: 0 !important;
 }

 ion-label.input-label{
    font-size: 17px !important;
    font-family: "Baloo Tamma 2", 'Roboto Slab'!important;
    color: #6b6b6b !important;
    margin-bottom: 5px;
 }



 .input-clear-icon{
     margin-top: -10px;
 }

 
.valid-message{
    color: #ff2929;
    font-size: 13px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    display: block;
    margin-top: 2px;
    height: 17px;
    margin-bottom: 0px;
    padding-bottom: 0;
    text-align: left;
    margin-left: 3px;
}

ion-icon{
    margin-top: 32px;
}



.login-btn{
    --background: #59023b;
    /* --background: linear-gradient(90deg, #59023b 0%, rgb(136 18 94) 100%); */
    --color: #fff;
    text-transform: none;
    font-size: 14px;
    opacity: 1;
    width: 40%;
    margin-top: 10px;
}

.label-text{
    font-size: 16px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 400;
    color: #5d0a3f;
    margin-top: 25px;
}

.label-text span{
    color: #5d0a3f;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}