ion-toolbar{
    --background: #621647;
    --color:#fff;
}

ion-title{
    font-size: 20px;
    font-family: "Baloo Tamma 2", cursive;
    margin-left: -30px;
    font-weight: 700;
  }

  .item .sc-ion-label-md-h{
    font-size: 16px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 500;
    color: #868686;
}

.faq-list{
    padding: 15px;
}

.faq-item{
    border-bottom: 1px solid #d6d6d6;
    padding: 10px 0;
}

.label-head{
    font-size: 16px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 500;
    color: #636161;
}

.label-text{
    font-size: 16px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 400;
    color: #868686;
    line-height: 22px;
}
