<div class="ask-question-block ion-text-center">
  <h4 class="lang-{{defaultLanguage}}">{{messsageObj?.postQuestion?.subTitle[defaultLanguage] }}</h4>

  <form (ngSubmit)="submitQuestion(submitQuestionForm.value)" [formGroup]="submitQuestionForm">
    <ion-item>
      <ion-label class="input-label lang-{{defaultLanguage}}" position="floating">
        {{messsageObj?.postQuestion?.labelClass[defaultLanguage] }}</ion-label>
      <ion-select name="class" formControlName="class" disabled>
        <ion-select-option value="{{item.value}}" *ngFor="let item of classes">{{item.text}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="input-label lang-{{defaultLanguage}}" position="floating">
        {{messsageObj?.postQuestion?.labelSubject[defaultLanguage] }}</ion-label>
      <ion-select name="subject" formControlName="subject" (ionChange)="getChapterList()">
        <ion-select-option value="{{item._id}}" *ngFor="let item of subjectList">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="valid-message">
      <span *ngIf="submitted && f.subject.errors">
        <div *ngIf="f.subject.errors.required" class="lang-{{defaultLanguage}}">
          {{messsageObj?.postQuestion?.selectSubject[defaultLanguage] }}</div>
      </span>
    </div>
    <ion-item>
      <ion-label class="input-label lang-{{defaultLanguage}}" position="floating">
        {{messsageObj?.postQuestion?.labelChapter[defaultLanguage] }}</ion-label>
      <ion-select name="chapter" formControlName="chapter" [disabled]="enableChapter">
        <ion-select-option value="{{item._id}}" *ngFor="let item of chapterList">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="valid-message">
      <span *ngIf="submitted && f.chapter.errors">
        <div *ngIf="f.chapter.errors.required" class="lang-{{defaultLanguage}}">
          {{messsageObj?.postQuestion?.selectChapter[defaultLanguage] }}</div>
      </span>
    </div>
    <ion-item>
      <ion-label class="input-label lang-{{defaultLanguage}}" position="floating">
        {{messsageObj?.postQuestion?.labelQuestion[defaultLanguage] }}</ion-label>
      <ion-textarea rows="4" cols="20" name="question" formControlName="question"></ion-textarea>
    </ion-item>
    <div class="valid-message">
      <span *ngIf="submitted && f.question.errors">
        <div *ngIf="f.question.errors.required" class="lang-{{defaultLanguage}}">
          {{messsageObj?.postQuestion?.enterQuestion[defaultLanguage] }}</div>
      </span>
    </div>
    <div class="ion-text-center">
      <span *ngIf="questionId">
        <ion-button shape="round" expand="full" class="signup-btn lang-{{defaultLanguage}}" type="submit">
          {{messsageObj?.postQuestion?.updateBtn[defaultLanguage] }}</ion-button>
      </span>
      <span *ngIf="!questionId">
        <ion-button shape="round" expand="full" class="signup-btn lang-{{defaultLanguage}}" type="submit">
          {{messsageObj?.postQuestion?.submitBtn[defaultLanguage] }}</ion-button>
      </span>

    </div>
  </form>



</div>