<ion-header [translucent]="true" class="ion-no-border" [ngClass]="{'header-bg':scrollTop === 1}">
  <ion-toolbar>
    <h3 class=" lang-{{defaultLanguage}}"> {{messsageObj?.forgotPass?.pageTitle[defaultLanguage] }} </h3>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div class="login-overlay lang-{{defaultLanguage}}">
    <div class="logo-container"></div>
    <!-- <img src="../../assets/images/new-pink-logo.png" height="200" width="320"> -->
  </div>

  <div class="signup-form ion-text-center">
    <!-- <div class="label-text forgot-message">Submit your registered email address. <br> A new password will sent to your
      email address.
    </div> -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div class="label-text forgot-message lang-{{defaultLanguage}}">
          {{messsageObj?.forgotPass?.subTitle[defaultLanguage] }}
        </div>
      </ion-col>
    </ion-row>

    <form (ngSubmit)="submitEmailForm(forgotPassForm.value)" [formGroup]="forgotPassForm">
      <ion-list>
        <!-- <ion-item>
          <ion-label class="input-label" position="floating">Email Id</ion-label>
          <ion-icon name="mail" slot="end"></ion-icon>
          <ion-input clearInput type="text" name="text" formControlName="email"></ion-input>
        </ion-item>

        <div class="valid-message">
          <span *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.required">Please enter your email address</div>
            <div *ngIf="f.email.errors.pattern">Please enter a valid email address</div>
          </span>
        </div> -->



        <ion-item class="position-relative mobile-num">
          <ion-label class="input-label mobile-label lang-{{defaultLanguage}}" position="floating">
            {{messsageObj?.forgotPass?.loginMobile[defaultLanguage] }}</ion-label>
          <div class="flag-code"><span></span> +91</div>
          <ion-icon name="call" slot="end"></ion-icon>
          <ion-input clearInput type="number" name="mobile" formControlName="mobile">
          </ion-input>
        </ion-item>

        <div class="valid-message">
          <div *ngIf="submitted && f.mobile.errors">
            <div class="lang-{{defaultLanguage}}" *ngIf="f.mobile.errors.required">
              {{messsageObj?.forgotPass?.enterMobile[defaultLanguage] }}</div>
            <div class="lang-{{defaultLanguage}}" *ngIf="f.mobile.errors.pattern">
              {{messsageObj?.forgotPass?.validMobile[defaultLanguage] }}</div>
          </div>
        </div>

        <div class="ion-text-center">
          <ion-button shape="round" expand="full" class="signup-btn  lang-{{defaultLanguage}}" type="submit">
            {{messsageObj?.forgotPass?.submitBtn[defaultLanguage] }}</ion-button>
        </div>
      </ion-list>
    </form>
    <div class="label-text lang-{{defaultLanguage}}">{{messsageObj?.forgotPass?.backTo[defaultLanguage] }} <span
        class="lang-{{defaultLanguage}}" style="font-weight: 700 !important;"
        (click)="goToLogin()">{{messsageObj?.forgotPass?.loginTxt[defaultLanguage] }}</span> </div>
  </div>
</ion-content>

<!--LOADER-->
<div class="loader-overlay" *ngIf="enableLoader">
  <div class="loader-container">
    <img src="assets/images/preloader.gif">
    <span class="ion-text-center lang-{{defaultLanguage}}"> {{messsageObj?.dashboard?.waitMessage[defaultLanguage]
      }}</span>
  </div>
</div>
<!--LOADER-->