ion-content{
    position: relative;   
    --offset-top: 57px !important;
    --background: #621647;
    --background: linear-gradient(180deg, #621647 0%, #901b67 100%);
}


ion-toolbar{ 
    --background: #651749;
    --ion-color-base: transparent !important; 
}


ion-item:hover a {
    background-color: transparent !important;
  }
  
  .login-overlay{
    width: 100%;
    height: calc(100vh - 385px);
    min-height: 200px;
    margin: 0 0 20px; 
    display: grid;
    align-items: center;
}

  .login-overlay.lang-beng{
    width: 100%;
    height: calc(100vh - 381px);
    min-height: 200px;
    margin: 0 0 20px; 
    display: grid;
    align-items: center;
}

.logo-container{
    height: 200px;
    background:url(../../assets/images/new-pink-logo.png) no-repeat center;
    background-size: contain;    
}

.signup-form{
    background: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px 15px;
    margin: 0 auto; 
}

.label-text.forgot-message{
    color: #636161;
    margin-top: 0;
    font-size: 15px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 500;
}

h3{
    font-size: 28px;
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 700;
    margin: 0 0 0 -48px;
    color: #fff;
    text-align: center;
 }


ion-menu-button,
ion-back-button {
  color: #fff;
}

.signup-btn{
    --background: #6f0f4d;
    --background: linear-gradient(90deg, #6d0d4b 0%, rgb(142, 51, 109) 100%);
    --color: #fff;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 13px;
    width: 40%;
    margin: 10px auto;
}

.label-text{
    font-size: 16px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 400;
    color: #868686;
    margin-top: 5px;
}

.label-text span{
    color: #791a57;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}


.overlay{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.confirm-box{
    background: #fff;
    min-height: 200px;
    border-radius: 20px;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  text-align: center;
  padding: 20px;
}

.confirm-box span{ 
    display: flex;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid rgb(90, 176, 64);
    align-items: center;
    justify-content: center;
}

.confirm-box i{
    color: rgb(90, 176, 64);
    font-size: 30px;
}

.warning span{ 
    display: flex;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid #fff;
    align-items: center;
    justify-content: center;
}

.warning i{
    color: #ffbe05;
    font-size: 35px;
    margin-top: -7px;
}

.position-relative{
    position: relative;
}

.flag-code{
    font-size: 16px;
    font-family: "Baloo Tamma 2", "Roboto Slab";
    font-weight: 600;
    color: #6b6b6b;
    position: absolute;
    top: 32px;
    left: 0px;
    line-height: 33px;
    margin-right: 0px;
}

.flag-code span{
    background: url(../../assets/images/india.png);
    background-size: 100%;
    width: 28px;
    height: 26px;
    display: inline-block;
    float: left;
    margin-right: 3px;
}

.mobile-num ion-input{
    left: 62px;
    margin-top: 0;
    position: absolute;
    bottom: -2px;
    width: calc(100% - 105px);
}


ion-item{
    --padding-start: 5px;
    --border-color: #b32781;
    --border-width: 0px 0px 1px 0px
}

 ion-input{
    font-size: 16px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 600;
    color: #6b6b6b;
    --padding-top: 0!important;
    --padding-bottom: 3px!important;
    --padding-start: 0!important;  
 }

 .native-input.sc-ion-input-md{
     padding: 0 !important;
 }

 ion-label.input-label{
    font-size: 17px !important;
    font-family: "Baloo Tamma 2", 'Roboto Slab'!important;
    color: #6b6b6b !important;
    margin-bottom: 5px;
 }

 ion-label.mobile-label{
    font-size: 17px !important;
    font-family: "Baloo Tamma 2", 'Roboto Slab'!important;
    color: #6b6b6b !important;
    margin-top: 0px;
    margin-left: 62px;
    line-height: 33px;
    margin-bottom: 0;
 }

 .input-clear-icon{
     margin-top: -10px;
 }

 
.valid-message{
    color: #ff2929;
    font-size: 13px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    display: block;
    margin-top: 2px;
    height: 17px;
    margin-bottom: 0px;
    padding-bottom: 0;
    text-align: left;
    margin-left: 3px;
}

ion-icon{
    margin-top: 32px;
}
ion-label.input-label.lang-beng{
    font-family: "Galada", cursive !important;
    font-weight: 500;
  }


.login-btn{
    --background: #59023b;
    /* --background: linear-gradient(90deg, #59023b 0%, rgb(136 18 94) 100%); */
    --color: #fff;
    text-transform: none;
    font-size: 14px;
    opacity: 1;
    width: 40%;
    margin-top: 10px;
}

.label-text{
    font-size: 16px;
    font-family: "Baloo Tamma 2", 'Roboto Slab';
    font-weight: 400;
    color: #5d0a3f;
    margin-top: 25px;
}

.label-text span{
    color: #5d0a3f;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}

ion-button.lang-beng{
    font-family: "Galada", cursive;
    font-weight: 500;
    font-size: 16px;
  }