.days-remaining{
    background-color: #d70202;
    color: #fff;
    height: 80px;
    padding: 15px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Baloo Tamma 2", "Roboto Slab";
    font-weight: 600;
    line-height: 60px;
}

.subscription-text{
    padding: 15px;
    font-family: "Baloo Tamma 2", "Roboto Slab";
}